<p id="notice"><%= notice %></p>

<% if @ad.id? %>
  <p class="image">
     <%= link_to (image_tag @ad.ing_url, :style => "height:40px", :alt => "Image not available"), @ad %>
  </p>
<% end %>
  
<p>
  <strong>Ad Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @ad.seller_id %>
</p>
<p>
  <strong>Email:</strong>
  <%= @ad.email %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
